# Preprocessing & Exploring the Dataset

This dataset is the CMU Book Summaries dataset from Kaggle: https://www.kaggle.com/datasets/ymaricar/cmu-book-summary-dataset. It contains 16,559 books extracted from Wikipedia.

#### Exploring the original data

In [26]:
import pandas as pd

# read the file and show first few rows
filename = 'booksummaries.txt'
df = pd.read_csv(filename, sep="\t", 
                 names=['Wikipedia ID', 'Freebase ID', 'Title', 'Author', 'Publication Date', 'Genres', 'Summary'])
df.head()

,Wikipedia ID,Freebase ID,Title,Author,Publication Date,Genres,Summary
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,NaN,NaN,The argument of the Enquiry proceeds by a ser...
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,NaN,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...

In [27]:
# get dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Wikipedia ID      16559 non-null  int64
 1   Freebase ID       16559 non-null  object
 2   Title             16559 non-null  object
 3   Author            14177 non-null  object
 4   Publication Date  10949 non-null  object
 5   Genres            12841 non-null  object
 6   Summary           16559 non-null  object
dtypes: int64(1), object(6)
memory usage: 905.7+ KB

In [28]:
# get count of genre grouping
df['Genres'].value_counts()

{"/m/05hgj": "Novel"}                                                                                                                                                  839
{"/m/06n90": "Science Fiction", "/m/014dfn": "Speculative fiction"}                                                                                                    567
{"/m/06n90": "Science Fiction"}                                                                                                                                        526
{"/m/02xlf": "Fiction"}                                                                                                                                                402
{"/m/02xlf": "Fiction", "/m/05hgj": "Novel"}                                                                                                                           381
                                                                                                                                                                      ...
{"/m/06n90": "Science Fiction", "/m/014dfn": "Speculative fiction", "/m/02n4kr": "Mystery", "/m/01hmnh": "Fantasy", "/m/02xlf": "Fiction", "/m/0c3351": "Suspense"}      1
{"/m/014dfn": "Speculative fiction", "/m/01hmnh": "Fantasy", "/m/02xlf": "Fiction", "/m/0488wh": "Literary fiction"}                                                     1
{"/m/02xlf": "Fiction", "/m/0py0z": "Graphic novel", "/m/08jhkx": "Anti-nuclear"}                                                                                        1
{"/m/01jfsb": "Thriller", "/m/06wkf": "Spy fiction", "/m/08sdrw": "Adventure novel"}                                                                                     1
{"/m/02ql9": "Epistolary novel", "/m/014dfn": "Speculative fiction"}                                                                                                     1
Name: Genres, Length: 2154, dtype: int64

In [29]:
# inspect a few rows of data with truncated summaries
print("Title: {} \nGenres: {} \nSummary: {}...".format(df.Title[0], df.Genres[0], df.Summary[0][:200]))
print()
print("Title: {} \nGenres: {} \nSummary: {}...".format(df.Title[3], df.Genres[3], df.Summary[3][:200]))

Title: Animal Farm
Genres: {"/m/016lj8": "Roman \u00e0 clef", "/m/06nbt": "Satire", "/m/0dwly": "Children's literature", "/m/014dfn": "Speculative fiction", "/m/02xlf": "Fiction"}
Summary:  Old Major, the old boar on the Manor Farm, calls the animals on the farm for a meeting, where he compares the humans to parasites and teaches the animals a revolutionary song, 'Beasts of England'. Wh...

Title: An Enquiry Concerning Human Understanding
Genres: nan
Summary:  The argument of the Enquiry proceeds by a series of incremental steps, separated into chapters which logically succeed one another. After expounding his epistemology, Hume explains how to apply his p...

**Insights:** We can see that some rows do not have any genres and those who do, have them in a dictionary with some sort of ID key. The summary and title don't have any extra characters or whitespace, so most the the data cleanup and considerations are with the genres.

#### Preprocessing the Data